dist/
__pycache__/
.venv/
*.pyc
*.pyo
*.log
.env
.claude/
data/articles/*
!data/articles/.gitkeep
data/export/audio/*
!data/export/audio/.gitkeep
/data/nb_uttale_leksika
/data/nb_uttale_tillegg
.playwright-mcp/

/data/cache/
